.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.container {
  margin: 5rem auto;
  padding: 3rem 1rem;
  border: 3px solid black;
  border-radius: 10px;
  width: 40%;
}

.container h1 {
  margin: 0;
  margin-bottom: 1rem;
}

ul {
  text-align: left;
  list-style: none;
}

ul li {
  font-weight: bold;
  font-size: 1.2rem;
  margin: .5rem 0;
  color: #033076;
}

#reviewItems {
  color: rgb(95, 95, 95);
}

#numInput {
  width: 4rem;
  margin: 0 0.5rem;
}